body {
  background-image: url(../images/bg-main.jpg);
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 15%;
}
.back-effect{
  background-position: 0px 0px;
  background-image: linear-gradient(to bottom, 
    #FFFFFF 0px,
    #FFFFFF 10%,
    #c4c7c94d 20%,
    #FFFFFF 45% 
  );
}
.navbar{
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    color: #ffefd1;
  }
  .navbar .navbar-brand{
    font-family: 'Bangers', cursive;
    color: #F4511E;
    font-size: 25px;
  }
  .navbar .navbar-brand strong{
    display: block;
    margin-top: -23px;
    color: #000;
    font-size: 27px;
  }
  .navbar-light .navbar-brand:hover strong{
    color: #F4511E;
  }
  .navbar li a{
    color: #ffefd1 !important;
  }
  .navbar input{
    background: #fdf4e4;
    border: none;
  }
  .filter-container{
      border-radius: 20px;
      background: #FF5F6D;
      background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
      background: linear-gradient(to right, #FFC371, #FF5F6D);
      color: #ffefd1;
      margin-top: 30px;
      margin-bottom: 60px;
  }
  .filter-container select{
    background: transparent;
    border: 2px solid wheat;
    border-radius: 15px !important;
    color: white;
  }
  .card{
    height: 390px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .card .card-header{
    background-color: transparent;
    border-bottom: none;
  }
  .card img{
    border-radius: 20px;
  }
  .card-info{
    position: initial;
    height: 390px;
    display: none;
    transition: display 1s,position 1s;
  }
  .col-md-3:hover .card-info{
    display: block;
    width: 89.5% !important;
    position: absolute;
    top: 0px;
    background-color: #ffe53b3d;
    background-image: linear-gradient(147deg, #ffe53b69 0%, #FF2525 74%);
    color: white;
    box-shadow: 0px 2px 9px 2px #9e9e9e;
    transition: display 1s,position 1s;
  }
  .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  form .container{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    color: #ffefd1;
    text-align: center;
    height: 50px;
  }
  .chatbox {
    width: 100%;
    height: 360px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border: 1px solid #d0cfcf80;
    border-radius: 5px;
    background: #fefefe;
  }

  #carouselProductsCard .carousel-item{
    padding:10px;
  }
  #carouselProductsCard .carousel-item .card{
    margin: 5px;
  }

  #carouselExampleInterval{
    width: 50%;
    margin: auto;
  }

  .carousel-caption{
    background-color: #ffe53b3d;
    background-image: linear-gradient(147deg, #ffe53b69 0%, #FF2525 74%);
    color: white;
    width: 100%;
    left: 0px;
    bottom: 0px;
  }

  .promotion{
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 20px 18px;
    border-radius:80px;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #cddc39 74%);
    z-index: 2;
    box-shadow: 0 0 5px 2px #969696;
    color:white;
  }
  .cart-update{
    display: flex;
  }
  .cart-update p{
    padding: 3px;
  }
  .cart-update button{
    background: transparent;
    border: none;
  }
  .cart-update button:hover{
    color:#ff5722;
  }
  .register-button {
    width: fit-content;
    margin-left: auto;
  }
  .login.container, .register.container{
    padding: 50px;
  }

  .login-form{
    padding: 34px;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    background-image: linear-gradient(147deg, #ffe53b7a 0%, #cddc399c 74%);
  }

  .alert-warning{
    margin: 0px;
  }